@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: #fff;
  background: #09001d;
  overflow: hidden;
}
/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
} */
/*updated*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}

.header:hover::after {
  left: 100%;
}
/*----------------*/
.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  filter: drop-shadow(0 0 5px #09001d);
}

/* .navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
} */
/*updated*/
.navbar a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 2.5rem;
}
.navbar .btnLogin-popup {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.navbar .btnLogin-popup:hover {
  color: #c40094;
}

.navbar .btnLogin-popup::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0.8s;
}
/* TODO: Where it all begin */
/* .section {
  min-height: 100vh;
  background: url(loginBackground.jpg) no-repeat;
} */

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(15px);
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  /* TODO: remember about this z-index */
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  /* remember about this pointer events */
  opacity: 0;
  pointer-events: none;
}

.wrapper.active-popup {
  opacity: 1;
  pointer-events: auto;
}

.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
}
.icon-close i {
  font-size: 32px;
  color: #333;
}

.wrapper .logreg-box {
  width: 100%;
}

.wrapper .form-box.login {
  display: block;
}
.wrapper.active .form-box.login {
  display: none;
}
.wrapper .form-box.register {
  display: none;
}
.wrapper.active .form-box.register {
  display: block;
}

.logreg-box .logreg-title {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

.logreg-title h2 {
  font-size: 32px;
}
.logreg-title p {
  font-size: 14px;
  font-weight: 500;
}
.logreg-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding-right: 25px;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box .icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  /* color: black; */
  font-size: 19px;
  color: #fff;
}

.logreg-box .remember-forgot {
  font-size: 14.5px;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}

.logreg-box .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 16px;
  color: #222;
  font-weight: 600;
}
.logreg-box .logreg-link {
  font-size: 14.5px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 15px;
}

.logreg-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.logreg-link p a:hover {
  text-decoration: underline;
}

.media-options {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.media-options a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  color: #fff;
  text-decoration: none;
}
.media-options a:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

.media-options a i {
  font-size: 22px;
  margin: 0 8px 1.5px 0;
}
.media-options a span {
  font-size: 16px;
  font-weight: 500;
}

/* --------------------------------------------------------------------- */

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.imgs {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
/*----------------*/

.navbar a:hover,
.navbar a.active {
  color: #c40094;
}

.main {
  min-height: 100vh;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: auto;
  transition: 0.3s ease;
}
.main.active {
  filter: blur(15px);
  pointer-events: none;
}
.container {
  display: flex;
  height: 100vh;
  width: 200%;
}
.home {
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.home-content p {
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, rgba(0, 0, 0, 0.3));
  margin-bottom: 30px;
}
.home-content .start-btn {
  width: 190px;
  height: 55px;
  background: #c40094;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #c40094;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transform: 0.5s;
}
.home-content .start-btn:hover {
  background: #09001d;
  box-shadow: none;
}
.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: #fff;
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}
.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
  font-size: 50px;
  color: #c40094;
}

.popup-info .info {
  display: inline-block;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin: 4px 0;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #999;
  margin-top: 10px;
  padding: 15px 0 7px;
}
.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: #c40094;
  border: 2px solid #c40094;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: #c40094;
}
.popup-info .btn-group .info-btn:nth-child(1):hover {
  background: #c40094;
  color: #fff;
}
.popup-info .btn-group .info-btn:nth-child(2):hover {
  background: #950170;
  border-color: #950170;
}

.quiz-section {
  position: relative;
  left: -50%;
  /* left: 0; */
  width: 100%;
  background: #09001d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.8s ease-in-out;
  transition-delay: 0.25s;
}
.quiz-section.active {
  left: 0;
}
.quiz-section .quiz-box {
  position: relative;
  width: 500px;
  background: transparent;
  border: 2px solid #c40094;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition: 0.3s ease;
  transition-delay: 0s;
}
.quiz-section .quiz-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: 1s ease;
  transition-delay: 1s;
}
.quiz-box h1 {
  font-size: 32px;
  text-align: center;
  background: linear-gradient(45deg, transparent, #c40094, transparent);
  border-radius: 6px;
}

.quiz-box .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #c40094;
  margin-bottom: 30px;
}

.quiz-header span {
  font-size: 18px;
  font-weight: 500;
}

.quiz-header .header-score {
  background: #c40094;
  border-radius: 3px;
  padding: 7px;
}
.quiz-box .question-text {
  font-size: 24px;
  font-weight: 600;
}
.option-list .option {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}
.option-list .option.correct {
  background-color: #09001d;
  color: #00a63d;
  border-color: #00a63d;
}

.option-list .option.incorrect {
  background-color: #09001d;
  color: #a60045;
  border-color: #a60045;
}
.option-list .option.disabled {
  pointer-events: none;
}

.option-list .option:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
}

.quiz-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #c40094;
  padding-top: 20px;
  margin-top: 25px;
}
.quiz-footer .question-total {
  font-size: 16px;
  font-weight: 600;
}
.quiz-footer .next-btn {
  width: 100px;
  height: 45px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
  transition: 0.5s;
}

.quiz-footer .next-btn.active {
  pointer-events: auto;
  background: #c40094;
  border-color: #c40094;
  color: #fff;
}

.quiz-footer .next-btn.active:hover {
  background: #950170;
  border-color: #950170;
}
.quiz-footer .next-btn.activated {
  pointer-events: auto;
  background: #c40094;
  border-color: #c40094;
  color: #fff;
}

.quiz-footer .next-btn.activated:hover {
  background: #950170;
  border-color: #950170;
}

.quiz-section .result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: transparent;
  border: 2px solid #c40094;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.quiz-section .result-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.result-box h2 {
  font-size: 52px;
}

.result-box .percentage-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
}

.percentage-container .circular-progress {
  position: relative;
  width: 250px;
  height: 250px;
  background: conic-gradient(#c40094 3.6deg, rgba(255, 255, 255, 0.1) 0deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.percentage-container .circular-progress::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: #09001d;
  border-radius: 50%;
}

.circular-progress .progress-value {
  position: relative;
  font-size: 45px;
  font-weight: 600;
}

.percentage-container .score-text {
  font-size: 26px;
  font-weight: 600;
}
.result-box .buttons {
  display: flex;
}

.buttons button {
  width: 130px;
  height: 47px;
  background: #c40094;
  border: 2px solid #c40094;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0 20px 20px;
  cursor: pointer;
  transition: 0.5s;
}
.buttons button:nth-child(1):hover {
  background: #950170;
  border-color: #950170;
}
.buttons button:nth-child(2) {
  background: transparent;
  color: #c40094;
}
.buttons button:nth-child(2):hover {
  background: #c40094;
  color: #fff;
}
/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }
  .imgs {
    display: inline-flex;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  .icons #close-icon {
    display: none;
  }
  #check:checked ~ .icons #close-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar {
    height: 17.7rem;
  }
  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }
  /* .navbar .btnLogin-popup {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
  } */
  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}
